

/* Modal container */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 400px;
    border-radius: 8px;
}


/* Table styles (reuse these as needed) */
.modal table {
    width: 100%;
    font-size: 16px;
    margin: 20px 0;

}

.modal th {
    background-color: #57AEFE;
    color: white;
    padding: 10px;
    font-weight: bold;
}

.modal td {
    padding: 8px;
    border: 1px solid #ddd;
    background:white;
}
